*{
    font-family: Verdana;
}
:root
{
    --clr:#222327;
    --bs-dark: #212529;
}

html body{
    background-color: var(--bs-dark);
    background: var(--bs-dark);
}
.CarroBG{
    max-height: 1083px;
    height: 100%;
    width: 100%;
    max-width: 1280px;
    right: 0px;
    top: 0px;
}
.logo{
    margin: auto;
    width: 80%;
    height: 80%;
    top: 150px;
    left: 10%;
    /*background-image: url('../Imagens/Screenshot_19.jpg');*/
}
.divisoria{
    
    background-color: #01366b;
    width: 100%;
    margin-top: -100px;
}
.divisoria p{
    display: block;
    margin: 100px;
    padding: 0;
    font-family: 'Roboto';
    font-size: 35px;
    color: #FFFFFF;
}
.VeicSustBG{
    top: 1170px;
    width: 100%;
    max-width: 1280px;
    max-height:1083px;
    height: 100%;
}
.VeicSust{
    
    color: #FFFFFF;
    top: 100px;
    left: 50%;
    margin: 10px;
    text-align: justify;
    font-size: 25px;
}
.VeicSust span{
    color: #0b60b4;
    font-size: 35px;
}
.VeicSust p{
    margin: 40px;
    text-align: justify;
}
.divisoria2{
    
    background-color: #01366b;
    width: 100%;
    top: 2140px;
    height: 200px;
    text-align: center;
}
.divisoria2 p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 80px;
    padding: 0;
    font-family: 'Roboto';
    font-size: 35px;
    color: #FFFFFF;
}
.MeioAmbtBG{
    
    top: 2340px;
    width: 50%;
    max-width: 1280px;
    height: 100vh;
    max-height: 1083px;
    right: 0px;
}
.MeioAmbt{
    
    top: 2450px;
    left: 4%;
    margin: 5px;
    text-align: justify;
    font-size: 25px;
    color: #FFFFFF;
}
.MeioAmbt span{
    color: #0b60b4;
    font-size: 35px;
}
.MeioAmbt p{
    margin: 20px;
    text-align: justify;
}
.divisoria3{
    
    width: 100%;
    top: 3300px;
    height: 200px;
    text-align: center;
}
.divisoria3 p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 80px;
    padding: 0;
    font-family: 'Roboto';
    font-size: 50px;
    color: #FFFFFF;
}
.MiletoIMG{
    
    height: 100%;
    max-height: 240px;
    width: 100%;
    max-width: 280px;
    top: 3650px;
    left: 5%;
}
.Mileto span{
    
    top: 3700px;
    left: 385px;
    font-size: 35px;
    color: #FFFFFF;
}
.Mileto p{
    
    margin: 10px;
    top: 3750px;
    font-size: 25px;
    left: 380px;
    color: #FFFFFF;
}
.MagaLu{
    
    top: 3650px;
    right: 0px;
    width: 50%;
}
.MagaLuIMG{
    
    height: 240px;
    max-height: 240px;
    width: 280px;
    max-width: 280px;
    right: inherit;
    left: 20px;
}
.MagaLu span{
    
    top: 50px;
    left: 320px;
    font-size: 35px;
    color: #FFFFFF;
}
.MagaLu p{
    
    margin: 10px;
    top: 95px;
    left: 320px;
    font-size: 25px;
    color: #FFFFFF;
}
.Taxi99IMG{
    
    height: 100%;
    max-height: 240px;
    width: 100%;
    max-width: 280px;
    top: 4150px;
    left: 5%;
}
.Taxi99 span{
    
    top: 4200px;
    left: 385px;
    font-size: 35px;
    color: #FFFFFF;
}
.Taxi99 p{
    
    margin: 10px;
    top: 4250px;
    font-size: 25px;
    left: 385px;
    color: #FFFFFF;
}
.BYD{
    
    top: 4150px;
    right: 0px;
    width: 50%;
}
.BYDIMG{
    
    height: 240px;
    max-height: 240px;
    width: 280px;
    max-width: 280px;
    right: inherit;
    left: 20px;
}
.BYD span{
    
    top: 50px;
    left: 320px;
    font-size: 35px;
    color: #FFFFFF;
}
.BYD p{
    
    margin: 10px;
    top: 95px;
    left: 320px;
    font-size: 25px;
    color: #FFFFFF;
}
.divisoria4{
    
    background-color: #01366b;
    width: 100%;
    top: 4550px;
    height: 200px;
    text-align: center;
}
.divisoria4 p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 80px;
    padding: 0;
    font-family: 'Roboto';
    font-size: 35px;
    color: #FFFFFF;
}
.EconomBG{
    
    top: 4750px;
    max-height: 1083px;
    height: 100%;
    width: 50%;
    max-width: 1280px;
}
.Econom{
    
    color: #FFFFFF;
    top: 4750px;
    left: 50%;
    margin: 10px;
    text-align: justify;
    font-size: 25px;
}
.Econom span{
    color: #0b60b4;
    font-size: 35px;
}
.Econom p{
    margin: 20px;
    text-align: justify;
}
.divisoria5{
    
    background-color: #01366b;
    width: 100%;
    top: 5620px;
    height: 190px;
    text-align: center;
}
.divisoria5 p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 50px;
    padding: 0;
    font-family: 'Roboto';
    font-size: 50px;
    color: #FFFFFF;
}

@media screen and (max-width: 480px){
    .VeicSust{
        text-align: center;
    }
    .VeicSust p{
        text-align: center;
    }
    .divisoria1 p{
        font-size: 30px;
    }
    .divisoria2 p{
        font-size: 30px;
    }
    .divisoria3 p{
        font-size: 30px;
    }
    .divisoria4 p{
        font-size: 30px;
    }
    .divisoria2 p{
        font-size: 30px;
    }
}