*{
    font-family: Verdana;
}

.CarroBG{
    position: absolute;
    max-height: 1083px;
    height: 100%;
    width: 50%;
    max-width: 1280px;
    right: 0px;
    top: 0px;
}
.logo{
    position: absolute;
    margin: auto;
    width: 26vw;
    height: 70vh;
    top: 150px;
    left: 10%;
    /*background-image: url('../Imagens/Screenshot_19.jpg');*/
}
.divisoria{
    position: absolute;
    background-color: #01366b;
    width: 100%;
    top: 878px;
    height: 295px;
    text-align: center;
}
.divisoria p{
    display: block;
    margin: 100px;
    padding: 0;
    font-family: 'Roboto';
    font-size: 35px;
    color: #FFFFFF;
}
.VeicSustBG{
    position: absolute;
    top: 1170px;
    width: 50%;
    max-width: 1280px;
    max-height:1083px;
    height: 110vh;
}
.VeicSust{
    position: absolute;
    color: #FFFFFF;
    top: 1400px;
    left: 50%;
    margin: 10px;
    text-align: justify;
    font-size: 25px;
}
.VeicSust span{
    color: #0b60b4;
    font-size: 35px;
}
.VeicSust p{
    margin: 40px;
    text-align: justify;
}
.divisoria2{
    position: absolute;
    background-color: #01366b;
    width: 100%;
    top: 2140px;
    height: 200px;
    text-align: center;
}
.divisoria2 p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 80px;
    padding: 0;
    font-family: 'Roboto';
    font-size: 35px;
    color: #FFFFFF;
}
.MeioAmbtBG{
    position: absolute;
    top: 2340px;
    width: 50%;
    max-width: 1280px;
    height: 100vh;
    max-height: 1083px;
    right: 0px;
}
.MeioAmbt{
    position: absolute;
    top: 2550px;
    left: 4%;
    margin: 5px;
    text-align: justify;
    font-size: 25px;
    color: #FFFFFF;
}
.MeioAmbt span{
    color: #0b60b4;
    font-size: 35px;
}
.MeioAmbt p{
    margin: 20px;
    text-align: justify;
}
.divisoria3{
    position: absolute;
    width: 100%;
    top: 3300px;
    height: 200px;
    text-align: center;
}
.divisoria3 p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 80px;
    padding: 0;
    font-family: 'Roboto';
    font-size: 50px;
    color: #FFFFFF;
}
.MiletoIMG{
    position: absolute;
    height: 100%;
    max-height: 240px;
    width: 100%;
    max-width: 280px;
    top: 3650px;
    left: 5%;
}
.Mileto span{
    position: absolute;
    top: 3700px;
    left: 385px;
    font-size: 35px;
    color: #FFFFFF;
}
.Mileto p{
    position: absolute;
    margin: 10px;
    top: 3750px;
    font-size: 25px;
    left: 380px;
    color: #FFFFFF;
}
.MagaLu{
    position: absolute;
    top: 3650px;
    right: 0px;
    width: 50%;
}
.MagaLuIMG{
    position: absolute;
    height: 240px;
    max-height: 240px;
    width: 280px;
    max-width: 280px;
    right: inherit;
    left: 20px;
}
.MagaLu span{
    position: absolute;
    top: 50px;
    left: 320px;
    font-size: 35px;
    color: #FFFFFF;
}
.MagaLu p{
    position: absolute;
    margin: 10px;
    top: 95px;
    left: 320px;
    font-size: 25px;
    color: #FFFFFF;
}
.Taxi99IMG{
    position: absolute;
    height: 100%;
    max-height: 240px;
    width: 100%;
    max-width: 280px;
    top: 4150px;
    left: 5%;
}
.Taxi99 span{
    position: absolute;
    top: 4200px;
    left: 385px;
    font-size: 35px;
    color: #FFFFFF;
}
.Taxi99 p{
    position: absolute;
    margin: 10px;
    top: 4250px;
    font-size: 25px;
    left: 385px;
    color: #FFFFFF;
}
.BYD{
    position: absolute;
    top: 4150px;
    right: 0px;
    width: 50%;
}
.BYDIMG{
    position: absolute;
    height: 240px;
    max-height: 240px;
    width: 280px;
    max-width: 280px;
    right: inherit;
    left: 20px;
}
.BYD span{
    position: absolute;
    top: 50px;
    left: 320px;
    font-size: 35px;
    color: #FFFFFF;
}
.BYD p{
    position: absolute;
    margin: 10px;
    top: 95px;
    left: 320px;
    font-size: 25px;
    color: #FFFFFF;
}
.divisoria4{
    position: absolute;
    background-color: #01366b;
    width: 100%;
    top: 4550px;
    height: 200px;
    text-align: center;
}
.divisoria4 p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 80px;
    padding: 0;
    font-family: 'Roboto';
    font-size: 35px;
    color: #FFFFFF;
}
.EconomBG{
    position: absolute;
    top: 4750px;
    max-height: 1083px;
    height: 100%;
    width: 50%;
    max-width: 1280px;
}
.Econom{
    position: absolute;
    color: #FFFFFF;
    top: 4850px;
    left: 50%;
    margin: 10px;
    text-align: justify;
    font-size: 25px;
}
.Econom span{
    color: #0b60b4;
    font-size: 35px;
}
.Econom p{
    margin: 20px;
    text-align: justify;
}
.divisoria5{
    position: absolute;
    background-color: #01366b;
    width: 100%;
    top: 5620px;
    height: 295px;
    text-align: center;
}
.divisoria5 p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 100px;
    padding: 0;
    font-family: 'Roboto';
    font-size: 50px;
    color: #FFFFFF;
}

@media screen and (max-width:600px){
    .CarroBG{
        width: 100%;
    }
    .logo{
       width: 100%;
    }
    .divisoria{
        position: absolute;
        background-color: #01366b;
        width: 100%;
        top: 878px;
        height: 295px;
        text-align: center;
    }
    .divisoria p{
        display: block;
        margin: 100px;
        padding: 0;
        font-family: 'Roboto';
        font-size: 35px;
        color: #FFFFFF;
    }
}