@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

*{
    font-family: Verdana;
}

.CarroBG{
    position: absolute;
    height: 100vh;
    width: 50%;
    right: 0px;
    top: 0px;
}
.logo{
    position: absolute;
    margin: auto;
    width: 26vw;
    height: 70vh;
    top: 150px;
    left: 10%;
    /*background-image: url('../Imagens/Screenshot_19.jpg');*/
}
.divisoria{
    position: absolute;
    background-color: #01366b;
    width: 100%;
    top: 970px;
    height: 200px;
    text-align: center;
}
.divisoria p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 65px;
    padding: 0;
    font-family: 'Roboto';
    font-size: 35px;
    color: #FFFFFF;
}
.VeicSustBG{
    position: absolute;
    top: 1170px;
    width: 50%;
    height: 100vh;
}
.VeicSust{
    position: absolute;
    color: #FFFFFF;
    top: 1400px;
    left: 50%;
    margin: 10px;
    text-align: justify;
    font-size: 25px;
}
.VeicSust span{
    color: #0b60b4;
    font-size: 35px;
}
.VeicSust p{
    margin: 40px;
    text-align: justify;
}
.divisoria2{
    position: absolute;
    background-color: #01366b;
    width: 100%;
    top: 2140px;
    height: 200px;
    text-align: center;
}
.divisoria2 p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 80px;
    padding: 0;
    font-family: 'Roboto';
    font-size: 35px;
    color: #FFFFFF;
}

.MeioAmbtBG{
    position: absolute;
    top: 2340px;
    width: 50%;
    height: 100vh;
    right: 0px;
}